.contenedor {
  margin-top: 2.2rem;
  /* max-width: 28rem; */
  max-width: 80% !important;
  margin-bottom: 0.85rem;
}

.espacio {
  margin-top: 0.25rem;
  border-bottom: 1px solid #898989;
}

.titulo {
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  /* color: rgb(88, 88, 88); */
}

.resumen {
  font-size: 0.75rem;
  line-height: 1rem;
}
