.item {
	min-height: 60px;
	max-height: 80px;
	display: flex;
	gap: 16px;
	padding: 0 10px;
	padding-top: 8px;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	transition: all ease-in-out 0.3s;
}

.item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.item-icono {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-icono-img {
	height: 32px;
	width: 32px;
	-o-object-fit: cover;
	object-fit: cover;
}

.item-contenido {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	width: 80%;
}

.item-contenido-info {
	/* font-size: 12px; */
	display: flex;
	gap: 4px;
	flex-direction: column;
}

.item-contenido-info-nombre {
	margin: 0px;
	font-weight: 600;
}

.item-contenido-info-fecha {
	color: #8e8b8b;
	font-size: 0.85rem;
}

.item-contenido-valor {
	text-align: right;
	letter-spacing: 0.05rem;
	/* width: 100%; */
	font-weight: 700;
}

.tipo-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.tipo-item img,
.tipo-item-imagen {
	margin: auto;
	height: 48px;
	width: 48px;
}

.tipo-item-circulo {
	width: 13px;
	height: 13px;
	border-radius: 100%;
	border: 1px lightgray solid;
	position: absolute;
	top: 8px;
	left: 8px;
}

.tipo-item-circulo-activo {
	background-color: hsl(var(--primary));
}
