.dual {
	margin: 8px 10px;
	display: grid;
	gap: 10px;
	justify-content: center;
	grid-template-columns: repeat(2, minmax(130px, 1fr));
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
	/* grid-template-columns: repeat(2, minmax(6em, 1fr)); */
	grid-template-rows: repeat(1, minmax(130px, 1fr));
}

.dual-item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dual-item-card {
	padding: 0.5rem 1.25rem;
	height: 100%;
}

.dual-item-texto {
	margin: 0px;
	text-align: center;
	font-weight: 600;
}

/* --------------------------------------------- GRAFICAS -------------------------------------------- */
.graficos {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 5px;
	margin-bottom: 50px;
}

.graficos-item {
	max-height: 350px;
	width: 100%;
	position: relative;
}

.graficos-item-container {
	height: auto;
}

@media (width < 768px) {
	.graficos-item-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (width >= 768px) {
	.dual-item {
		justify-content: space-around;
	}

	.dual-item > * {
		display: flex;
		gap: 8px;
	}

	.graficos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.graficos-item-container {
		height: 300px;
		max-height: 300px;
	}
}
