.nombre {
	font-size: 2rem;
}

.header {
	position: relative;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	color: white;
	transition: all ease-in-out 0.3s;
	z-index: 10;
}

.header-contenido {
	display: flex;
	width: 100%;
	background-color: var(--fondo-menu);
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 1rem;
}

.fondo-header {
	background-color: var(--fondo-header);
}

.boton {
	background-color: rgb(216, 175, 8);
	/* color: black; */
}

.nav {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s linear;
}

.nav-open {
	max-height: 500px;
}

.nav-overlay {
	content: '';
	visibility: hidden;
	position: fixed;
	opacity: 0;
	z-index: 9;
	height: 110vh;
	width: 110vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 0.2s;
}

.nav-overlay-open {
	visibility: visible;
	opacity: 1;
}
