.nombre {
	font-size: 2rem;
}

.header {
	min-height: 80px;
	display: flex;
	flex-direction: column;
	color: white;
	transition: all ease-in-out 0.3s;
}

.header-contenido {
	display: flex;
	width: 100%;
	background-color: var(--fondo-menu);
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 1rem;
}

.fondo-header {
	background-color: var(--fondo-header);
}

.boton {
	background-color: rgb(216, 175, 8);
	/* color: black; */
}

.nav {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s linear;
}

.nav-open {
	max-height: 500px;
}
